* {
	font-family: Inter,sans-serif;
	box-sizing: border-box;
	outline: 1px solid rgb(255, 0, 0);
  	outline-offset: -1px;
}

html, body {
    margin: 0;
    height: 100%;
}

div.container {
	display: flex;
    flex-flow: column;
    align-items: flex-start;
}

/* NAVBAR < container ------------------------------- */
div.nav {
    display: grid;
	align-items: center;
    grid-template-columns: 120px 1fr 120px;
	position: fixed;
    width: 100%;
    top: 0px;
	padding: 1rem;
}
/* LOGO < navbar < container */
div.logo {
	width:fit-content;
	justify-self: flex-start; 
}
div.logo p{
    display: flex;
	flex-direction: row;
    align-items: center;
	margin: 0px;
}
/* MIDLLE MENU < navbar < container */
div.middle-menu {
	display: flex;
    flex-direction: row;
	justify-self: center; 
	border-radius: 16px;
	line-height: 100%;
	gap: 10px;
	padding: 3px;
}
div.middle-menu a{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 12px;
	text-decoration: none;
	padding: 8px 14px; 
}
sup {
	margin-left: 1px;
}
/* RIGHT MENU < navbar < container */
div.right-menu {
    display: flex;
    flex-direction: row;
	justify-self: flex-end; 
	line-height: 100%;
	height: 38px;
	gap: 10px;
}
div.username {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 12px;
	text-decoration: none;
	padding: 8px 14px; 
	gap: 10px;
}
div.username img {
	height: 20px;
	width: 20px;

}
button.btn_threedots {
	display: flex;
	align-items: center;
    width: fit-content;
    background-color: rgb(255,255,255, 0);
    border-radius: 0.5rem;
    outline-width:  1; /* remove this when done */
    border: 0
}

/* MAIN BODY < container ------------------------------- */
div.content {
	display: flex;
    flex-direction: column;
    width: 100%;
	padding: 120px 16px 0px;
}

main {
	max-width: 480px;
    width: 100%;
	margin: 1rem auto auto;
	height: auto;
}

div.broadcast {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 75px 1fr;
	border-radius: 24px;
	/* max-height: 200px; */
	height: 100%;
}

div.broadcast .profile{
	display: flex;
	justify-content: center;
}
.profile img {
	width: 50px;
	height: 50px;
	margin-top: 15px;
}


div.textarea {
	margin: 10px 10px 0;
	font-size: 26px;
	word-break: break-all;
	min-height: 35px;
    max-height: 175px;
	overflow-y: auto;
	border: solid rgba(255, 255, 255, 0);
} 
div.textarea:empty:not(:focus):before{
    content:attr(placeholder);
	color: #98a5b1;
	cursor: text;
}

div.broadcast_options{
	display: grid;
	align-items: flex-start;
	grid-auto-flow: column;
	max-height: 40px;
	
}
button.broadcast_btn {
	display: flex;
	align-self:center;
	padding: 8px 16px;
	margin: 10px;
	border: 0;
	background-color: rgb(255,255,255, 0);
    outline-width:  1;
	font-size: 16px; 
}
button.paperclip {
	display: flex;
	align-self: center;
	width: 34px;
	height: 34px;
	background-color: violet;
}



.circle_border {
	border-radius: 9999px;

/* when  browser size changes*/
@media (max-width: 800px) {
	div.nav {
		grid-template-columns: 48px 1fr 1fr;
	}
    div.middle-menu {
		justify-self: start; 
    }
}

@media (max-width: 500px) {
	div.nav {
		grid-template-columns: 1fr 1fr;
	}
	div.middle-menu {
        justify-self: center;
        position: absolute; /* keeps main menu at the bottom */
        bottom: 0;
        margin-bottom: 20px; /* lift above the edge of the window */
    }
}


@media (max-width: 220px) {
    div.middle-menu {
		background-color: orangered;
    }
}


