:root {
    /* colors for light mode */
    --l-bkg1: white;
    --l-bkg2: rgb(245, 245, 245); 
    --l-bkg3: rgb(200, 200, 200); 
    --l-bkg4: rgb(175, 175, 185); 
    --l-font: black;
    --l-shadow: rgba(0, 0, 0, 0.2);

    /*set padding*/
    --xs-pad: 4px 8px;
    --s-pad: 8px 16px;
    --m-pad: 16px 32px;

    /*set the radius, margins or padding*/
    --xs-rmp: 4px;
    --s-rmp: 8px;
    --m-rmp: 16px;
}



.heading {
  font-size: 28px;
  font-family: IBM Plex Sans;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.content {
  font-size: 12px;
  font-family: IBM Plex Sans;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}


* {
	/* outline-offset: -1px;
	outline: 1px solid rgb(255, 0, 0); */

  font-family: IBM Plex Sans;
  box-sizing: border-box;
	transition: all .2s ease-in-out;
}

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: block;
}

.inbox15-container {
  background-color: white;
  min-height: 100vh;
  border: solid red 2px;
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;
}
nav{
    border: solid 2px red;
    width: 500px;
    height: 40px;
}
.inbox15-inbox {
  flex: 1;
  width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  /*min-width: 500px;
  min-height: 300px;*/

  align-items: stretch;

  box-shadow: 2px 2px 50px 2px var(--l-shadow);  
  background-color: var(--l-bkg1);
  border-radius: 16px;  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.inbox15-top-panel {
  flex: 0;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.inbox15-user-panel {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 1;

}
.inbox15-pfp {
  width: 70px;
  height: 70px;
  position: static;
  margin-right: 10px;
}
.inbox15-user-detail {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}
.inbox15-username {
  color: rgba(0, 0, 0, 1);
  height: 100%;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.inbox15-address-panel {
    max-width: fit-content;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--l-bkg2);
    padding: var(--xs-pad);
    border-radius: var(--xs-rmp);
}
.inbox15-address {
  color: var(--l-bkg3);
  font-size: 10px;
  height: fit-content;
  padding-right: var(--s-rmp);
}
.inbox15-copy-svg {
  width: 11;
  height: 11;
}
.inbox15-copy-svg:hover{
    cursor: pointer;
}
.inbox15-inbox-panel {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  justify-content: flex-start;
}
.inbox15-search-panel {
  width: 100%;
  display: flex;
  margin-top: var(--m-rmp);
  position: relative;
  align-items: flex-end;
  flex-direction: column;
}
.inbox15-search-box {
  width: 100%;
  display: flex;
  padding: var(--s-pad);
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  justify-content: center;
}
.inbox15-search-svg {
  width: 13;
  height: 13;
  margin: 0 8px 0 0;
}
.inbox15-search-input {
  color: var(--l-font);
  max-height: fit-content;
  width: 100%;
  align-self: stretch;
  border-width: 0px;
  background-color: transparent;
  outline: none;
}
.inbox15-search-box:focus-within{
    border-color: var(--l-font);
}
::placeholder{
	color: var(--l-bkg3);
	cursor: text;
}
.inbox15-recipient-panel {
  width: 100%;
  height: 45px;
  display: flex;
  position: relative;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}
.inbox15-recipient-panel:hover{
    cursor: pointer;
}
.inbox15-recepient-pfp {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.inbox15-recipient-detail {
  width: 330px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.inbox15-recipient-username {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.inbox15-last-msg {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.inbox15-msg-content {
  color: rgba(196, 196, 196, 1);
  height: auto;
  margin: 0 5px 0 0;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.inbox15-msg-time {
  color: rgba(196, 196, 196, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
